@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) important;
@import "tailwindcss/utilities.css" layer(utilities) important;

@layer base {
  body {
    @apply mx-0 my-0;
    font-family: "K2D", sans-serif;
  }
}

.mask {
  position: absolute;
  mask-image: url("./assets/mask.svg");
  background: #1b7cf0;
  mask-repeat: no-repeat;
}
